<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groupit-tracker</title>
    <!-- <link rel="stylesheet" href="/static/style.css"> -->
  </head>
  <body>
   

<img src="{{  .Artist.Image}}" alt="">
<br>
<h1>{{  .Artist.Name}}</h1>
<br>
<ul>
  {{  range .Artist.Members}}
  <li>{{.}}</li>
  {{end}}
</ul>


<p>creation :  {{  .Artist.CreationDate}}</p>



<p>first album  {{.Artist.FirstAlbum}}</p>

<br><br><br><br>
<div>

  <ul>

    {{   range .Dates.Dates}}
<li>{{.}}</li>
    {{end}}
  </ul>



  <br>
  <br>

  <ul>

    {{   range .Locations.Locations}}
<li>{{.}}</li>
    {{end}}
  </ul>


</div>


last
<div>




  <ul>
    {{ range $key, $value := .Relations.DatesLocations }}
        <li key="{{$key}}"> {{ $key }}     at : <p> {{range $value}}{{.}} {{end}} </p> </li>
    {{ end }}
</ul>

  
  </body>
</html>
