<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Groupit-tracker</title>
  <link rel="stylesheet" href="/static/filter.css" />
  <link rel="shortcut icon" href="/static/images/artist.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <nav>
    <div class="title">
      <a href="/">Groupie tracker</a>
    </div>
    <div>
        <form action="/search" method="get">
        <label for="search"></label>
        <input   list="search" type="text"  name="search"    >
        <datalist  id="search">
          {{range $key ,$value :=  .SearchElement  }}
          <option value="{{$key}} - {{$value}}"></option>
          {{end}}
        </datalist>
        <input type="submit" value="search">
      </form>
    </div>
    <div class="users">
      <a href="https://github.com/AhmedBaid" target="_blank">abaid</a>
      <a href="https://github.com/RedaAz07" target="_blank">ranniz</a>
      <a href="https://github.com/Marouane-EN" target="_blank">mennaas</a>
      <div class="mode">
        <input class="hidd" type="checkbox" name="" id="darkmode-toggle">
        <label for="darkmode-toggle">
          <svg class="moon" width="15px" height="15px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            fill="currentColor">
            <path fill-rule="evenodd"
              d="M9.528 1.718a.75.75 0 0 1 .162.819A8.97 8.97 0 0 0 9 6a9 9 0 0 0 9 9 8.97 8.97 0 0 0 3.463-.69.75.75 0 0 1 .981.98 10.503 10.503 0 0 1-9.694 6.46c-5.799 0-10.5-4.7-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 0 1 .818.162Z"
              clip-rule="evenodd" />
          </svg>
          <svg class="sun" width="15px" height="15px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            fill="currentColor">
            <path
              d="M12 2.25a.75.75 0 0 1 .75.75v2.25a.75.75 0 0 1-1.5 0V3a.75.75 0 0 1 .75-.75ZM7.5 12a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM18.894 6.166a.75.75 0 0 0-1.06-1.06l-1.591 1.59a.75.75 0 1 0 1.06 1.061l1.591-1.59ZM21.75 12a.75.75 0 0 1-.75.75h-2.25a.75.75 0 0 1 0-1.5H21a.75.75 0 0 1 .75.75ZM17.834 18.894a.75.75 0 0 0 1.06-1.06l-1.59-1.591a.75.75 0 1 0-1.061 1.06l1.59 1.591ZM12 18a.75.75 0 0 1 .75.75V21a.75.75 0 0 1-1.5 0v-2.25A.75.75 0 0 1 12 18ZM7.758 17.303a.75.75 0 0 0-1.061-1.06l-1.591 1.59a.75.75 0 0 0 1.06 1.061l1.591-1.59ZM6 12a.75.75 0 0 1-.75.75H3a.75.75 0 0 1 0-1.5h2.25A.75.75 0 0 1 6 12ZM6.697 7.757a.75.75 0 0 0 1.06-1.06l-1.59-1.591a.75.75 0 0 0-1.061 1.06l1.59 1.591Z" />
          </svg>
        </label>
      </div>
    </div>
  </nav>
  <div class="filter">
    <input class="hidd" type="checkbox" id="filter">
    <label for="filter">
      <h6 class="filter-button">
        <span class="material-icons">filter_alt</span>
        Filter
      </h6>
      <h6 class="xmark-button">
        <span class="material-icons">close</span>
        Close
      </h6>
    </label>
  </div>


  <div class="show">
    <form action="/Filter" method="get">
      <div class="content">
        <div class="date">
          <div class="centent1">
            <label>Creation Date:</label>
            <div class="smon">
              <label for="date">from : <span id="creation-min-value">{{.Span}}</span></label>
              <input type="range" id="creation-min" name="Crmin"  min="{{.MinCrDate}}"
                max="{{.MaxCrDate}}">
            </div>
            <div class="smon">
              <label for="date">to : <span id="creation-max-value">{{.Span}}</span></label>
              <input type="range" id="creation-max" name="Crmax"  min="{{.MinCrDate}}"
                max="{{.MaxCrDate}}">
            </div>
          </div>
          <div class="button">
            <label>First Album Date:</label><br>
            <input type="number" name="album-min" placeholder="Min Year" min="{{.MinCrDate}}" max="2025">
            <input type="number" name="album-max" placeholder="Max Year" min="{{.MinCrDate}}" max="2025">
          </div>
        </div>

        <div class="member">
          <label>Number of Members:</label>
          <div class="checkboxes">
            <div class="dv">
              <input type="checkbox" name="members" value="1">
              <label for="">1</label>
            </div>
            <div class="dv">
              <input type="checkbox" name="members" value="2">
              <label for="">2</label>
            </div>
            <div class="dv">
              <input type="checkbox" name="members" value="3">
              <label for="">3</label>
            </div>
            <div class="dv">
              <input type="checkbox" name="members" value="4">
              <label for="">4</label>
            </div>
            <div class="dv">
              <input type="checkbox" name="members" value="5">
              <label for="">5</label>
            </div>
            <div class="dv">
              <input type="checkbox" name="members" value="6">
              <label for="">6</label>
            </div>
            <div class="dv">
              <input type="checkbox" name="members" value="7">
              <label for="">7</label>

            </div>
            <div class="dv">
              <input type="checkbox" name="members" value="8">
              <label for="">8</label>
            </div>
          </div>
          <div class="loc">
            <label for="locations"> Locations:</label><br>
            <input type="text" name="location" list="locations" class="datals">
            <datalist id="locations">
              {{range .Locations}}
              <option>{{.}}</option>
              {{end}}
            </datalist>
          </div>
        </div>
      </div>
      <div class="filter-link">
        <input type="submit" value="Filter">
      </div>
  </div>
  </div>
  {{if gt (len .Artists) 0}}
  <div class="cards-groups" id="up">
    {{range .Artists}}
    <a class="lien" href="/details?id={{.Id}}">
      <div class="card">
        <img src="{{.Image}}" alt="lien" loading="lazy" />
        <h2>{{.Name}}</h2>
      </div>
    </a>
    {{end}}
  </div>
  {{else}}
  <h1 class="messageErr">No artist found 🤷‍♂️</h1>
  {{end}}

  <a href="#up" class="up">
    <img src="/static/images/up.png" alt="up">
  </a>
</body>
<script>
  function updateRangeValue(id, value) {
    const label = document.getElementById(id);
    label.textContent = value;
  }

  const creationMin = document.getElementById("creation-min");
  const creationMax = document.getElementById("creation-max");

  creationMin.addEventListener("input", function () {
    updateRangeValue("creation-min-value", creationMin.value);
  });

  creationMax.addEventListener("input", function () {
    updateRangeValue("creation-max-value", creationMax.value);
  });
</script>

</html>