* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
}
body {
  background-color: #0a0a0a;
  transition: 0.5s;
} 
.lien {
  text-decoration: none;
  display: block;
}
.users {
  display: flex;
}

.users a {
  color: #009f18;
  text-decoration: none;
  font-size: 20px;
  margin-left: 15px;
}
.title a {
  color: #009f18;
  text-decoration: none;
  font-size: 32px;
}

/* Light mode and Dark mod*/

nav:has(#darkmode-toggle:checked) {
  background-color: wheat;
}
body:has(#darkmode-toggle:checked) {
  background-color: wheat;
}
body:has(#darkmode-toggle:checked) .card h2 {
  color: #009f18;
}
body:has(#darkmode-toggle:checked) .title a,
body:has(#darkmode-toggle:checked) .users a {
  color: black;
}

.mode {
  display: flex;
  align-items: center;
  margin: 0 15px;
}
.mode label {
  width: 45px;
  height: 23px;
  position: relative;
  display: block;
  background-color: #242424;
  border-radius: 20px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.8s;
}

.mode label::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: 3px;
  background: linear-gradient(180deg, #777, #3a3a3a);
  border-radius: 50px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: 0.8s;
}

input[type="checkbox"] {
  width: 0;
  height: 0;
  visibility: hidden;
}

input[type="checkbox"]:checked + label {
  background-color: #ebebeb;
}

input[type="checkbox"]:checked + label::after {
  left: 42px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #ffcc89, #d8860b);
}

.mode label:active::after {
  width: 27px;
}

label svg {
  position: absolute;
  width: 40px;
  top: 10px;
  z-index: 100;
}

label svg.sun {
  color: #7e7e7e;
  font-weight: bold;
  left: 13px;
  top: 3px;
  transition: 0.8s;
}

label svg.moon {
  fill: #fff;
  font-weight: bold;
  right: 13px;
  top: 5px;
  transition: 0.8s;
}

input[type="checkbox"]:checked + label svg.sun {
  fill: white;
}

input[type="checkbox"]:checked + label svg.moon {
  fill: #7e7e7e;
}

/*End of Light mode and Dark mod*/

nav {
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 15px 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0a0a0a;
  box-shadow: 0px 2px 3px #009f18;
}
.countainer{
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card-detail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 55%;
  height: 60%;
  padding: 50px 30px 50px 20px;
  background: #121017;
  border-radius: 24px;
}

.image img {
  width: 300px;
  height: 300px;
  border-radius: 30px;
  transition: 0.2s linear;
}
.image img:hover{
  transform: scale(1.1);
}
h2 {
  color: gray;
  font-size: 22px;
}
p {
  color: white;
  font-size: 20px;
}
ul li {
  color: white;
  font-size: 20px;
}
h1 {
  color: darkolivegreen;
  font-size: 40px;
}
.go-back {
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  border: 1px none;
  background-color: aquamarine;
  width: 270px;
  height: 40px;
  border-radius: 10px;
  padding: 10px 15px;
  margin-top: 30px  !important;
}
.go-back:hover {
  background-color: aqua;
}




@media (width <= 600px) {
  .card-detail {
    margin: 0 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  .card-detail h2 {
    margin-right: 0;
    font-size: 26px;
  }

  .image img {
    margin: -100px 0 30px 0;
    width: 100%;
    max-width: 1000px;
    height: 250px;
  }

}

@media (width <= 440px) {
  .image img {
    height: 45vw;
    width: 45vw;
    border-radius: 50%;
    margin: -140px 0 30px 0;
  }
}
